Source: langlink
Section: user/other
Priority: optional
Maintainer: Daniil Ivanov <daniil.ivanov@gmail.com>
Build-Depends: debhelper (>= 5), cdbs, libqt4-dev
Standards-Version: 3.7.3

Package: langlink
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Language self-study application
 Application for language self-study. User is required to connect
 bilingial word pairs correctly
XSBC-Maemo-Display-Name: LangLink
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgIfAhkiAAAAAlwSFlz
 AAALEwAACxMBAJqcGAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAA/jSURB
 VHiczZt7cFR1lsc/99GvJN0NeScQQ4BISEDDQ+ILgsCsWOsA8loWdFh0XLdUUMsRXWcV0XJmYAR3
 RNQSLfE1Y6HiY1DEcgVGfI7oANEkREUlwYYkHTr97r73d/ePDjGQR9+QlvFbdau6+97fued87znn
 nt/p308yDIMziWXLdtnt9kCWEPZMRQlnAui6wyvLEW8kktH61FNTI2dSHymVBLz44ovKnj3uKlkW
 1TabOsHhUMtkWc4GbJIk2SQJq2EYimGAEAIhEuNkGWRZRpJAkiTdMIgZhhEFokKIlnBYq4tGtb1C
 yLsvvtj38YIFC/RU6TxgAlaseGtuRoblWptNKZNluVDThDUa1YhGdaJRHV0XA5KvKDI2m9JxqKiq
 HBNCHIlG9bpAIL7poYdmbh2I/NMi4IYbXityONJud7ls8+JxPb+9PUI0qnOmokmSwGZTcLnsWCyK
 p709+nI4HFqzcePsw/2W1R8Crr/+r+dnZmY8aLXKE/3+qOr3xxDizOaQUyHLEk6nFafTpsVi4lOv
 N3DLI4/88iOz400TsHz5G7/NynLc3dwcskajKQvBlMJmU8jJSYu1tobv3bDhX+83MyYpAVdeud1V
 WKi8IstMa24O/tOfeDLIskROTjpC8O6RI/oVzz13WXtf1/dJwLJlW8/Lz8943e+P5Pv9sZQr+1Mi
 ERZ2j8cTmPXUU3P/3tt1vRIwe/brzrIyy8Hm5mB+PP7zdPlksFgUcnLSPXV18bNfe22Wv6dr1N4G
 Fxfz6vHj4fxIJJ5yxVqKa2itqkU7K4DiseP6fBgFX1YhGXJK76PrguPHw/nFxeqrwPSerunRA379
 663/nZ4u/+7o0WBKFWoZVkPL5Z8jKroXe1KTBfdrZRTUTEo5EXl56QSD4s4nnpj7+273PZWAJUv+
 PCkvL+29pia/NVUJr3X4F3hn7UOUm6hyG1Xcr40ib/95KSNCliWGDHHGjh4NTX7++cWfdD3XLQTc
 btufPB6/VdMGHvdtJXW0zv0cY3TU/KChGr4bvsDXWIfr1VHk/WPSgPUQAjwev3XQoLQ/ARd0PXeS
 Byxd+swQpzPt26YmX6+5wSwi7laaHngTlIHJGfz78WQ2VAxUHQCGDHFrfn9o2NNP/6rpxG8nGSpJ
 1jt8vpA60PodwOIdTPqjZxNc+DXk9t+bjICE7fUCXPWj0I2B6wPg84VURbHeASw/8dtJQeZwSPN9
 vnDHTG1gh+fiPQSvb0Cqd2B9oQCOmXMFIyChvpqNsmcQsflHaJy/IyX6CCHw+cI4HNL8rvfr9IBF
 i56da7cbKXvnRyqaQTYwJgeIGUH4IA11ZxrxS1qRcnt4okEJ5Z3BiDQN7fJWUBOhqZ3rQ/9zanTS
 dQiHo/mLFj0794UXrtoKXQhwOLjW6w0hRGrczVAF0okvkgEXBdEIIn3sQNmVjnauD6kkjvGDgrrP
 hZ6uo1/u7ZYzJIuRMp0A2tpCZGamXwucTIAkGWXhcOynn9JWhdGrwlgfLWLwzon4yw8SvuuLPpNl
 KgkIh2NIUlrZie8ywOrVq2Vd1wt1XUeI1BzQN5Px/2oklu4jdPOXfRpvGEbKdBJCR9d1dF0vXL16
 tQwdHrBvX1GV1RqzpiL7/6g4P4ZAT5AM2ifWIw1K7nKp1AsgGo1Z9+0rqgI+7AgBrTocjqXU1ZJ5
 AIDINVdqp1avRBgoilTNCQIURZoQCMTQ9dTN+szkEsMw+vaSDqRSL0gQ4HbbJ0BHCCiKXhYKxc+4
 ByQNkw6k2gNCoTiZmXoZdBAghJ4Tj6d+2psMZttxiaSaOnQkxBzoIEDXhS3VicZM9WqGAMNIfRKE
 hM3QSYBmS7WbGU1WYOBeJRqVlIcAJGyGTgJ0a6oTjfTpYFjQd5Y35QGfZKQ8CULCZgC1tHSDrbRU
 U1LJck7kKMr/KTQ+4cRytf+UKdePSEZAbLuVoX/LRRvcRmurO2X6Aei6ppSWbrCpOTlatqbpA040
 qqFR3fIBC33/IF9PdH6O/9bC01sqeHdFFvJlGlK3iq9nAvQPZKY3xll52UEKF34JwNffWHn88VJ2
 vD0WXR9gkwHQNJ2cHC1bmjJl/VhF8e8/cqTHpmlSqIbGJa0fsKh9H3mi585Pu2xhc3k57yzPRpml
 IXWUX5GNTuw3/HhfbbfCv/wQ5Y7Zh8ntpYfw7XcWHn10JG9uHxgRhYVOdN15jjR58tpqCOzyeAL9
 EqCKONPbPuLf/fvJ7cXwU9EuqWweVc47K3IxRmlot41GubseOQyXHotyx9xGcnI0U7K++15l48aR
 vPHmmNMiIj8/A8iYKk2evLZa1339ImBssJ7bvTvJMWn4qWiXVB5yV/GeeyIzZtRx3+pasrNPLwS/
 P2xh5cpx7P3srH6Ny8/PQFHcU2VNU71g9KuzMi709WkbD+AyNCaHvkIIwZxZ35+28QBnFcX5xS++
 7Xd3CAw0TfWqEOokwCxqLfk8nm5hSuQwZXr/csf3ioN3bMX8oLgxDJ2/biuk5gsnCxYc46yi/tUN
 tXVWtm3LZf+BzNOoFQwg5FWbm10tOTl+02+BwZqP+3zvIQE1iosnHaO4KNpEmeg7hL6XHey0DaUi
 3sLVoToA1IlWHt7wDYYBO9528vLL2cyf10xRUd95oK7ewltvZXHBBT5u+00jmtbE+Im5+HwOUzYA
 GIagudnVIjc0LI8ahqHrusDMURg91jmBGaO3c024HgFsto+kXs7odqPDsp1n7SNolawsDTcwUWvr
 PDeupBlILHiYeamfW27+gfqDNh7akEtjY/fOfF29lQ0P5xAKydx8k4eqSeEEkapB0VCvKf1PHIZh
 6A0Ny6Nqgg1iQghT9Bk9FPnlIkB55Csa5HQesZfhMqKohsArO7g4doSrIl/3KEuSutcBM6YHmTE9
 yK7daWx+JpehQ8LE4zLHj6vMnNnG8hube9FM9CsMDIMYdM4Gjaiu66YI6OvvslIRZFiknhvTpxKQ
 7WwKvE2a0Xto9VUJTq0OMXZMhJmXnUdBQYiXXzqAxdK7Xrpu9KtkFsKIwo9N0ahZ9nrygK6wYDAn
 8iWtsr1P4xOy+i6Fs7IECxceonRkqE/jT+jVz0TYlQCpWZKMPDPTTjM3GS18tIqwCR2ST4bGj2un
 tDT52yFBgDkPUBQZkJqhMwSkOlWVxsRiyY0zM4OzIrBiRlbSS7DaDOz25NcJIUz3DWw2BSGkOugk
 QN5rsUjzzTxds3+Zm2t2mJFlYK69Zr6WsVgkhJD3QmcIqLtVVTKVRFI5bTbbETLDU8IDzIWAqkqA
 uhs6ZuqzZysfd6zATFpCJkuCJ5Q+0xDCfDmvqnJs9mzlY+ggYNWqVUJVLUfM/LMSM8z0cc25bThm
 VlZyxGLC9L9Dqmo5smrVKgEn9WqUOotFTlpBfaFnoptoZpvxgh2fZ6VETiwGB2qcpipAi0UGlLoT
 Y7sQYN/kdFoxDKPPI2SovGJkJ9cqCXYZLnbV5vLeniQveBN49rk0wmE5qe6GYeB0WgH7phNjOwmo
 rX1gq8uV4ZFNrEv6HzGJTUYh4d6afX0gjsRfjFxWiAsxDIk5V5Tx/PMOdL0Xr+rDA8JhifUPOrn+
 hrNN3VuWweXK8NTWPtC5wvwkC1Q1/aWMDFtSQToya8UEpurT2GQUEjJBRAyJ54w8pulTuVtUESbx
 5I8ft/Cr/xhNxZhSnnkmrTsRPfASDEqsW+9kROlobltZiqaZexAZGTZUNf2lrr+dNNJmy/iD2203
 15MCvDhYKyZQrU/nMWMIwQ5x3xl2viMxtYgi8YyRzzR9KqvFJDx0nzECNHyVwbJryhhdfjabn05D
 0xKWHzpk4ZtDiZZXICCxZq2LEaXlrLy9lKNHTVRIXeB22zWbLeMPXX/rtk5w9OgbPjx06Mj5p7Mi
 3E2EWdI3fEYOitPN+MBXvCGKabcNwuGwEonEiUQSa44lScLtTkPXBX5/97K5ZFiQBQuOsW1bNkOH
 2hg3zsemJ9x4vdZ+6wWJ6q+kpPCj2tqNJy2T6+Y7ipJxU0GBKyaZeUMBEyaM7Pzsw85zVDD+yoXs
 qP8L4sobaSadq666hJqah9myZSVudxoOh5W77vo3amsfYdGiKQCMHz/iJLmDM8/hjw8Mx+6o5K67
 17N8xTaKikYhSRKVlcMByMsbRHFxblIdJQkKClwxRcm46dRz3QioqVnzid2efU9ubropAtasWcq5
 55Z0fp81axJTplQwdOgy7r//SgDuvHMBI0dex8GDR7j88kncfPMsWlv9FBQsZdOmHWRnu9i8+eaT
 5N555wKmTKlg8eJqHnvsLa644nfcd98SRozIZ8OG/wRg+/Z7MPOgcnPTsduz76mpWfPJqeeUe+65
 p9uAG2+8dM+TT+6eEo2GS2KxvkMhFIqxc+f+zu8lJXlUVJzFJZecw/bte/nss6+pr2+itvYwHk8b
 33zjQdcFL730fufkpaBgMNu2/Z2jR493ytF1wfbte7HZLLzyyoccO+bD6w0QDEYpKxvKsGG5vP9+
 LTt3HuhTP6fTSm5u3ru1tf97bU/ne02fhlE0Jy8vy2Ox9N5zz8524XanATB//kWMGJHPmDHF7N//
 LS0t7YTDMcaPH0EwmOggz5hRybffHqW8vIhYTOOcc4Zx6aXjqawcTnt7CKtVZcWKX2K3Wxk6NFEk
 jRo1BF0XjBs3nEAgTGVlCTU13yGEQbLlvBaLQl5elscwiub0dk2vBNTVrfTbbJmziouzPYnioTtG
 jRpCdfUY3O407r13MU1NXubNu5AXXvgboVAUq1XlvPNKqawsweVKY/HiKUiSxNKl0xg0KJ1bb51D
 KBRl8uQKKiuHc+GFo5k0qZTy8iIuuqiczEwn8+dfBMDKlfNoawswc+Z49uz5ktraw1RVjerVeKfT
 SnFxtsdmy5xVV7ey19Z10i0zpaWrXara/EpbW+u0Y8eC3UrTdeuuZsmSqaxdu5X161+lqCibw4db
 UFWFrCwnFotKY2MLAEOGZNHU1MrixdWsX38Nb7/9OdddtxFVVfjwwz+iKDJLlqyjsbGFtrYAaWk2
 dF0QCETIzXXj9QbIyxtEU1PrSfJOMkhKxPzgwVnvalrOFQ0Nq05/y0xXlJXd8ttIpPVuj8f/s940
 lZ/vjNntWffW1T2Ymk1TXVFaeuv5shx+MBz2T/T5ImogEOUnWLvQL8hyosJzu+2aw+H8VAjHLQ0N
 61K/ba4rxo69tUjTtNs1LTivvT34T9046XKle1Q1/WVVVdccOLDup9042RNGj/7NXAhfq+vxslgs
 UhiNaj/p1lmbTY1ZrfYjimKpA8emrhOb00FKN08vXLhQOXCgqApENWgTIF6maXq2ELpNCGETQlgN
 QyTZPC3rsizHZFmOyrISVVWlBSx1oO4FeffYsYc/3rJly89n83R/UVKy2m61xrNkWcvUtFgmgKpa
 vUKo3ljM0nro0Kozun3+/wFGd1xmkbNe4wAAAABJRU5ErkJggg==

Package: langlink-dbg
Architecture: any
Section: debug
Priority: extra
Depends: langlink (= ${binary:Version}), ${misc:Depends}
Description: LangLink debug symbols
 Debug symbols for LangLink application
